.buttonwrapper
{
  text-align: center;
}

.btngroup
{
  margin: 0 auto;
  text-align: center;
  width: inherit;
  display: inline-block;
}

.practicebutton
{
  color: black;
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block !important;
  vertical-align: middle !important;
}

.btn-toolbar
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn
{
  display: inline-block !important;
  vertical-align: middle !important;
  text-decoration: inherit !important;
  color: inherit;
  background-color: rgba(220, 220, 220, 0.7) !important;
  background: gray;
  font-size: 1.5em !important;
  width: 150px;
  height: 150px;
  line-height: 7.5vh;
  max-width: 15vw;
  max-height: 10vh;
  min-height: 40px;
}

span.practicebutton
{
    float: none !important;
    vertical-align: middle !important;
    display: inline-flex !important;
    align-items: center !important;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
}
