.modal
{
  text-align: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
}

.modal-dialog
{
  width: 50vw;
}

.modal-content
{
  min-height: 30vh;
}

.modal-header, .modal-title, .modal-body, .modal-footer
{
  text-align: center;
  align-items: center;
  border-bottom: none;
  border-top: none;
}

.modal-content
{
  background: rgba(204, 204, 204, 0.7) !important;
}

#username_input
{
  align-items: center;
  width: 50%;
  height: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(80, 80, 80, 1);
  outline: none;
  text-align: center;
}


#hsmodal
{
  display: none;
}
