.vertical_spacer_40
{
    height: 40px;
}

.vertical_spacer_100
{
    height: 100px;
}



@media only screen and (max-width: 768px) {
  .vertical_spacer_40
  {
      height: 5px;
  }
  .vertical_spacer_100
  {
      height: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .vertical_spacer_40
  {
      height: 1px;
  }
  .vertical_spacer_100
  {
      height: 2px;
  }
}
