.navbar
{
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  padding-bottom: 20px;
  padding-top: 20px;
}

.navbar-header
{
  margin-left:10px !important;
  margin-right:10px !important;
}

ul.nav, ul.navbar-nav {             /* <- this affects all navbars */
  float: none;
  text-align: center;
  display: inline-block;
  white-space: nowrap !important;
  width: auto !important;
}

li.mathronaut_brand {
  text-decoration: inherit !important;
  color: inherit !important;
  font-size: 4rem;
  font-weight: 500;
}

li.styled_nav_link
{
  text-decoration: inherit !important;
  color: inherit !important;
  font-size: 1.2em !important;
  font-weight: 300;
}

.navbar-right
{
  margin-right: 20px;
}

.active
{
  color: rgb(220, 220, 220) !important;
}

@media only screen and (max-width: 768px) {
  li.mathronaut_brand {
    text-decoration: inherit !important;
    color: inherit !important;
    font-size: 3rem;
    font-weight: 500;
  }

  .navbar-header
  {
    margin-left:10px !important;
    margin-right:10px !important;
  }
}
