.leaderbody
{
  display: block;
  max-height:70vh;
  font-family: 'Roboto', sans-serif;
}

.table
{
  border-radius: 6px !important;
  border: none !important;
  text-align: center;
  background-color: rgba(220, 220, 220, 0.7) !important;
  border-spacing: 0 !important;
  border-collapse: collapse !important;
}

.table-responsive
{
  border-radius: 6px !important;
  border: none !important;
  border-spacing: 0 !important;
  border-collapse: collapse !important;
}

th, td
{
  text-align:center;
  padding: 10px !important;
  border: none !important;
  border-bottom: none !important;

}

th
{
  font-size: 16px;
}

#footer_text
{
  text-align: center;
  font-weight: bold;
}
