.leaderbody
{
  display: block;
  max-height:70vh;
  overflow-y:scroll;

}

.table
{
  text-align: center;
  /* background-color: rgb(157, 157, 157); */
  background-color: rgba(204, 204, 204, 0.7) !important;
}

th
{
  text-align:center;
}
