.math_jumbo
{
  justify-content: center !important;
  text-align: center !important;
  align-items: center !important;
  width: 100%;
  display: none;
}

#math_jumbo_container
{
  display: none;
  justify-content: center !important;
  text-align: center !important;
  align-items: center !important;
}

.question_count {
  font-size: 0.4em !important;
  text-align: right;
}
