.jumbotron
{
  height: 100%;
  width: 100%;
  background: rgba(204, 204, 204, 0.4) !important;
}

.math_form
{
  text-align: center;
}

input.answer
{
  height: 100px;
  font-size: 40px;
  background: rgba(204, 204, 204, 0.4) !important;
}
