body
{
  background-image: url('./Space_Math_Background.png');

  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
