body
{
  background-image: url('./Rocket_Landing_Background.gif');
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
}
